body, html {
    height: 100%;
}

#big_image1, #big_image2, #big_image3,
#big_image4, #big_image5 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#big_image1 {
    background-image: url('../images/house.jpg');
    min-height: 400px;
}

#big_image2 {
    background-image: url("../images/road1.jpg");
    min-height: 400px;
}

#big_image3 {
    background-image: url("../images/road2.jpg");
    min-height: 400px;
}

#big_image4 {
    background-image: url("../images/road3.jpg");
    min-height: 400px;
}

#big_image5 {
    background-image: url("../images/road4.jpg");
    min-height: 400px;
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


#end{
  background-color: lightgrey;
}
